======================================================================
                        Axon 0.0.2 解析规则

	    Axon 需要保证所有返回的昵称（Nickname）都是独一无二的。
	而在 QQ 中显然没有这项规则，所以 Axon 需要对所有昵称进行解析，
	生成类似别名的替代昵称。

	一个昵称在以下范围中都需要是独一无二的：

		* 客户端加入的所有群聊

		* 客户端的所有好友

	    替代昵称采用如下规则，如果存在相同昵称，在后面加井号（#），
	并跟随 QQ 号的后四位。例如，现在有两个昵称为 TEST 的用户，QQ 号
	分别为 0000001234 与 0000004321 则它们的替代昵称为：TEST#1234 与
	TEST #4321。若不存在相同的昵称，那么替代昵称就可以认为和原昵称相同。

	    但是，这种命名方式仍然有缺陷，那就是 QQ 号后四位也可能出现
	相同的情况。预计在将来改善。

	    更多有关使用 Axon 的问题，可以在 Github Issues 内提交。
	也可以通过邮件联系我 axon-oicq@riseup.net。我们十分欢迎您提出的：
	意见、建议和评论。

			Copyright (C) axon-oicq team 2022
	在保留此声明的情况下，允许对此文章进行逐字复制并发布到任何地方。
======================================================================